@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alexander Art Wiki</h1>
    <p class="lead">Ken Alexander's submission for COMP2084 Assignment 1</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            For this assignment, I chose to begin the construction of a site that acts as a wiki for art enthusiasts. I seperated the data into two tables, the first being Museums and the second
            being Art. They are both categorized with a unique primary key, and have a one-to-many relationship. A museum may have many different works of art, while a work of art may only hang in
            one museum. The foreign key originates in the Art table and connects to the primary key of Museums. I hope this helps navigate through the front and back end of this application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Museums</h2>
        <p>For the Museum table, I created five seperate columns. The first being MuseumID (primary key), the next being Name, Location, Contact, and Art.</p>

    </div>
    <div class="col-md-4">
        <h2>Artwork</h2>
        <p>For the Art table, I created five seperate columns. The first being TitleID (primary key), the next being Title, Artist, Year, and MuseumID (foreign key).</p>
    </div>
</div>
