@{
    ViewBag.Title = "Alexander Art Wiki";
}

<div class="jumbotron">
    <h1>Alexander Art Wiki</h1>
    <p class="lead">Ken Alexander's submission for COMP2084 Assignment 1</p>
</div>

<div class="container-fluid">
    <div>
        <h2>Introduction</h2>
        <center>
            <p class="text-justify">
            For this assignment, I chose to begin the construction of a site that acts as a wiki for art enthusiasts. I seperated the data into two tables, the first being Museums and the second
            being Art. They are both categorized with a unique primary key, and have a one-to-many relationship. A museum may have many different works of art, while a work of art may only hang in
            one museum. The foreign key originates in the Art table and connects to the primary key of Museums. I hope this helps navigate through the front and back end of this application.
            </p>
        </center>
    </div>
</div>
